<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Grade 1 - Piano</string>
	<key>Notes</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>D</string>
		<string>F</string>
		<string>A</string>
		<string>D</string>
		<string>C</string>
		<string>C</string>
		<string>G</string>
		<string>F</string>
		<string>A</string>
		<string>D</string>
	</array>
	<key>Modes</key>
	<array>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Minor</string>
		<string>Minor</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Major</string>
		<string>Minor</string>
		<string>Minor</string>
	</array>
	<key>Octaves</key>
	<array>
		<string>2</string>
		<string>2</string>
		<string>2</string>
		<string>2</string>
		<string>2</string>
		<string>2</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
	</array>
	<key>Types</key>
	<array>
		<string>Scale</string>
		<string>Scale</string>
		<string>Scale</string>
		<string>Scale</string>
		<string>Scale</string>
		<string>Scale</string>
		<string>Contrary Motion</string>
		<string>Broken Chord</string>
		<string>Broken Chord</string>
		<string>Broken Chord</string>
		<string>Broken Chord</string>
		<string>Broken Chord</string>
	</array>
</dict>
</plist>
